body {
    background: #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
	margin: 0;
	padding: 0;
}

header {
	background: #304375;
	border-bottom: solid 2px #152A65;
}

header h1 {
	color: #FFF;
	font-size: 28px;
	font-weight: 300;
	margin: 0;
	padding: 15px 10px;
}

h1 {
	font-family: 'Oswald', 'Open Sans', sans-serif;
	font-weight: 700;
	padding: 5px 3px;
	margin: 0;
}

h2 {
	font-family: 'Oswald', 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 5px 3px;
	border-bottom: #333 solid 1px;
}

p {
	padding: 10px 5px;
	margin: 0;
	font-size: 1.2em;
}

#container {
	padding: 10px 15px;
}
